@import './reset.css';
@import './tokens.css';

body {
  font-family: var(--font-family-base);
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
  font-size: var(--font-size-md);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
